body {
  background-color: black;
  color: white;
}

.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login {
  display: flex;
  align-items: center;

  flex-direction: column;
  background-color: rgba(156, 152, 152, 0.151);
  border: 1px solid rgba(192, 192, 192, 0.725);
  height: 350px;
  width: 300px;
}
#put {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  margin-bottom: 30px;
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 12px;
  text-align: center;
}
input::placeholder {
  color: rgb(253, 74, 71);
  font-size: 16px;
}

h2 {
  color: rgb(253, 74, 71);
}
h3 {
  font-size: 21px;
}
.box img {
  width: 150px;
  height: 150px;
}

.login button {
  height: 35px;
  width: 150px;
  font-size: 16px;
  background-color: rgb(157, 68, 240);
  border: none;
  border-radius: 12px;
  margin-top: 30px;
  margin-left: 25px;
}
.login button:hover {
  background-color: rgb(147, 47, 240);
  cursor: pointer;
}

.login button a {
  color: white;
  text-decoration: none;
}
